body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.header {
  /* width: 1200px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  height: 50px;
  padding: 25px;
}

.header-link {
  color: white;
  padding: 40px 10px;

  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}
.header-link:hover {
  background-color: rgb(65, 64, 64);
}
.header-link_active {
  background-color: rgb(44, 44, 44);
}
.header-logo {
  background-color: tomato;

  vertical-align: middle;
}
.cart {
  display: flex;
  justify-content: start;
}
.imgCart {
  width: 300px;
  padding: 10px;
}
.content {
  margin: 0 auto;
  max-width: 900px;
}
.sort {
  position: relative;
}
.sort__label {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 5px;
}

.sort__label svg {
  margin-right: 8px;
}
.sort__label svg.rotated {
  transform: rotate(180deg);
}

.sort__label b {
  margin-right: 8px;
}

.sort__label span {
  color: white;
  border-bottom: 1px dashed white;
  cursor: pointer;
}
.sort__popup {
  position: absolute;
  right: 0;
  margin-top: 15px;
  background: rgb(44, 44, 44);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  overflow: hidden;
  padding: 10px 0;
  width: 160px;
}
.sort__popup ul {
  overflow: hidden;
  list-style: none;
  padding-inline-start: 0px;
}
.sort__popup li {
  padding: 12px 20px;
  cursor: pointer;
}
.sort__popup li.active,
.sort__popup li:hover {
  background: rgb(65, 64, 64);
}

.sort__popup ul.active {
  font-weight: bold;
  color: white;
}
